<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268381965547-7uf4c4u9nikehdk7t5pknl5prtsstld8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268381965547-7uf4c4u9nikehdk7t5pknl5prtsstld8</string>
	<key>API_KEY</key>
	<string>AIzaSyCNHpd8a5uYeCge_3SIx_6SvZ7TRg9qV44</string>
	<key>GCM_SENDER_ID</key>
	<string>268381965547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codelion.EndOfDay</string>
	<key>PROJECT_ID</key>
	<string>endofday-dd6ea</string>
	<key>STORAGE_BUCKET</key>
	<string>endofday-dd6ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268381965547:ios:0297ac678579fdaa2f42ae</string>
</dict>
</plist>